<launch>

  <rosparam>
    /hokuyo_node/min_ang: -2.0862138271331787
    /hokuyo_node/max_ang:  2.0923497676849365
  </rosparam>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="frame_id" value="/laser"/>
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0  0.0 0.0 0.0 /base_link /laser 40" />

  <node pkg="canonical_scan_matcher_xy" type="canonical_scan_matcher_node" name="canonical_scan_matcher_node"
    output="screen"> 
  
    <param name="use_alpha_beta"  value="true"/>
    <param name="alpha" value="1.0"/>
    <param name="beta"  value="0.9"/>

    <param name="max_iterations" value="2"/>
    <param name="epsilon_xy" value="0.000000001"/>
    <param name="epsilon_theta" value="0.0000000001"/>

    <param name="orientation_neighbourhood" value="40"/>

  </node>

  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
